<ng-template #noProduct>
  No products in the cart
</ng-template>

<ng-container *ngIf="cart.length > 0 else noProduct">
  <div class="" *ngFor="let entry of cart; let i=index">
  <button type="button" class="btn-info" (click)="removeProduct(i)"><span class="">x</span></button>
    {{entry.title}} - {{entry.quantity}} * ${{entry.price}}
</div>

  <hr>
Subtotal - ${{subtotal}}
</ng-container>
