<h1>Shop</h1>

<section>
    <div class="row">
      <div class="col-md-9">
        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
          <app-product-card *ngFor="let product of products" [product]="product" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"></app-product-card>
        </div>
      </div>
      <div class="col-md-3">
        <h1>Cart</h1>

        <app-mini-cart></app-mini-cart>
      </div>
    </div>
</section>
