<mat-card class="example-card">
    <img mat-card-image src="{{product.picture}}" alt="{{product.title}}">
    <mat-card-content>
      <p class="text-center">
        {{product.title}}
      </p>

      <p class="text-center text-danger">
        ${{product.price}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <app-add-to-cart [product]="product" *ngIf="product.stock > 0; else outOfSTOCK"></app-add-to-cart>
    </mat-card-actions>
</mat-card>

<ng-template #outOfSTOCK>
  <button type="button">Out Of Stock</button>
</ng-template>
